In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import random
import string

## make data 
Make data to practice python. n means sample size.  
Colmun 'col1' is categorical data what elements are 0 or 1.  
Column 'col2' is categorical data what elements are 'A','B' or 'C'.   
Column 'col3' is continuous data whose range is from 0 to 100. Distribution is uniform.  
Column 'col3' is continuous data whose distribution is gauss distribution. mu,sigma is parameter for gauss.   
Column 'col4' is random string data whose len is defined by n_str.

In [2]:
def randomname(n):
    return ''.join(random.choices(string.ascii_letters + string.digits, k=n))

In [6]:
columns=['id','col1','col2','col3','col4','col5','Tag']
df = pd.DataFrame(columns=columns)

n = 40
list1=['A','B','C']
start,end=0,100
mu,sigma=0,10
n_str = 6

for i in range(n):
    tmp=[]
    tmp.append(i)
    tmp.append(random.randint(0,1))
    tmp.append(random.choices(list1)[0])
    tmp.append(round(random.uniform(0,100),3))
    tmp.append(round(random.gauss(mu=mu,sigma=sigma),3))
    tmp.append(randomname(n_str).lower())
    tmp.append(random.randint(0,1))
    tmp = pd.DataFrame(data =[tmp],columns=columns)
    df = df.append(tmp)

df.head()

  id col1 col2    col3    col4    col5 Tag
0  0    1    C  89.485  -1.940  wjuimn   0
0  1    0    B  94.973  -9.650  hjhnxe   1
0  2    0    C  53.303 -20.943  cphb7x   1
0  3    0    B  60.642  -7.787  hpy12i   0
0  4    1    B  41.745  18.649  u8bmzc   1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 0 to 0
Data columns (total 7 columns):
id      40 non-null object
col1    40 non-null object
col2    40 non-null object
col3    40 non-null float64
col4    40 non-null float64
col5    40 non-null object
Tag     40 non-null object
dtypes: float64(2), object(5)
memory usage: 2.5+ KB

In [8]:
df.to_csv('./test.csv',index=False)